.mat-card{
    background-color: #3169b1;
    border-radius: 14px 14px 0 0;
    color: white;
    /* font-family: cursive; */
    font-size: 18px;
    display: flex;
    align-items: center;
}

.mat-card .mat-icon{
    font-size: 23px;
    padding-left: 15px;
}


.map-tools{
    position: absolute;
    z-index: 2;
    left: 5px;
    top: 5px;
}

.search-icon{
    height: 30px;
    background-color: #fff;
    border: 1px solid black;
}

.box{
    border: 1px solid  #d3d3d3;
    padding: 5px 14px;
    border-radius: 8px;
    cursor: pointer;
       
}
.mt-5{
    margin-top: 15px;
}

.img{
    width: 20px;
}

#geocoder{
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0px;
    background: white;
    border: 1px solid gray;
    padding: 2px;
    margin-left: 6px;
    margin-top: 3px;
    border-radius: 6px;
    cursor: pointer;
}

.example-form-field{

    z-index: 99;
    position: absolute;
    top: 0;
    left: 0px;
    padding: 2px;
    margin-left: 6px;
    margin-top: 3px;

}


.geo-data{

    z-index: 99;
    position: absolute;
    top: 37px;
    left: 0px;
    padding: 2px;
    margin-left: 6px;
    margin-top: 3px;
    background-color: white;
    width: 20%;
}

.example-form-field button{
    cursor: pointer;
}

.matlist{
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}


.mat-sidebox{
    width: 20%;
    height: 56%;
    bottom: 5px;
    margin-top: auto;
    border-radius: 0 10px 8px 0;
    overflow: hidden;
}


:host ::ng-deep .mapboxgl-popup-content, .maplibregl-popup-content{
    font-family: sans-serif;
    font-size: 12px !important;
    color: black;
    font-weight: 600;
    padding:8px 14px;
}

.tehsil{
    font-family: 'Montserrat';
}
.cabin{
    font-family: 'Cabin' !important;
}

.mat-option{
    font-family: 'Cabin' !important;
}

.city{
    /* background: #151414; */
    color: white;
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 13px;
    margin: 0;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.pointer{
    cursor: pointer;
}

.pl-5{
    padding-left: 5px;
}

/* color picker */
.custom-input-color ::ng-deep .color-picker{
    top: 83px !important;
    left: 24px !important;
  }
  .custom-input-strock ::ng-deep .color-picker{
    top: 83px !important;
    left: 24px !important;
  }

  .cp-box{
    width: 35px;
    border-radius: 8px;
  }

  /* end color picker */


  /* CitySidenave  */

  .cityClosebtn{
    position: absolute;
    right: 0;
    font-size: 20px;
    cursor: pointer;
    justify-content: center;
    margin-top:5px
  }
  .edit-cp-box{
    width: 35px;
    border-radius: 8px;
  }
  .download-city{
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 3px 9px !important;
    align-items: center;
    position: sticky;
    margin: 0;
    top: 0;
    position: relative;
    height: 8%;
    /* margin-top: 10px; */
    /* width: 97%; */
  }

  .p-lr{
    padding: 0 10px;
  }

  
  .matbox{
    background: #d3d3d347;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .download-city mat-icon{
    cursor: pointer;
    font-size: 18px;
    color: white;
  }
  .citytable{
    margin-top: 9px;
    margin-left: 10px;
  }

  .main-body{
    height: 92%;
    overflow: scroll;
  }

  ::ng-deep .my-custom-tooltip {
    max-width: unset !important;
  }

  .tool-menu-arrow{
    position: absolute;
    bottom: 45%;
    cursor: pointer;
    z-index: 9999;
    background: black;
    padding: 4px;
    display: flex;
    align-items: center;
    margin-left: 1px;
  }
  .tool-menu-arrow mat-icon{
    color: white ;
    font-weight: 600;
  }

  .edit-dist mat-icon{
    font-size: 18px;
    vertical-align: middle;
  }

  .edit-dist input{
    padding: 4px 20px 6px 4px;
  }

  .color-div{
    padding: 6px;
    border-radius: 2px 2px;
    margin: 0px 2px 0px 3px
  }

  .save-data-btn{
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 23px; */
    position: relative;
    bottom: 0;
    width: 100%;
    /* background: gray; */
  }

  .m-0{
    margin: 0 auto !important;
  }

  /* End CitySidenave  */



  /* position: absolute;
  top: 39px;
  display: grid;
  align-items: center;
  right: 0;
  background: #f4caca;
  cursor: pointer;
  padding: 17px 6px;
  background: black; */


.edit-save{  
    display: flex;
    justify-content: space-evenly;
    margin-top: 28px;
}

.ml-5{
    margin-left: 25px;
}

#load-data-wrapper{
    display: block;
    background-color: #f5f4f4;
    padding: 15px;
    height: calc(100% - 40px);
    border-radius: 0 0 14px 14px;
    /* width: 100%; */
}

.load-div{
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dedede;
}

.load-div h4{
    font-family:'Cabin'!important; 
    margin: 0;
}

.inputType{
    /* display: block; */
    /* width: calc(100% - 110px); */
    /* padding: 0 10px; */
    /* color: inherit; */
    /* font-size: inherit; */
    /* background: #e4e6e9; */
    /* border: 1px solid #e4e6e9; */
    /* text-align: inherit; */
    /* border-color: #babcc4; */
    /* height: 40px; */
    /* font-weight: 400; */
    font-family:'Cabin'!important; 
}

.authButton{
  background-color: #05b260;
  border: #00000000;
  font-size: 13px;
  cursor: pointer;
  color: #ffffff;
  padding: 8px 7px 7px 8px;
  outline: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 95px;
  -webkit-user-select: none;
  user-select: none;
  height: 40px;
  border-radius: 9px;
  font-family: 'Cabin';
}

:host ::ng-deep .cdk-overlay-pane{
    margin-left: 17px;
    font-family: 'Cabin'!important;

}


td{
    vertical-align: middle !important;
    /* text-align: center; */
    font-size: 11px;
    /* color: #7c7777; */
    /* padding-top: 12px; */
  }

  td .mat-icon{
    vertical-align: middle !important;
    font-size: 16px;
    padding-top: 8px;
  }


/* Scroller */

.edit-dist{
  display: flex;
  margin:10px;
  align-items: center;
}
.fillpaint{
  width: 0px;
  margin-left: 40px;

}



/* End Scroller */

:host ::ng-deep  .color-picker{
  top: 44px !important;
  left: 35% !important;
  width: 60% !important;
}

.dropdown-block{
  position: absolute;
  /* width: 50%; */
  top: 0;
  z-index: 100;
  right: 0;
  margin: 11px 11px;
  width: 20%;
}
.zindex{
  z-index: 999 !important;
}


/* Mobile view class (mbv) */
.dropdown-block-mbv{
  position: absolute;
  top: 0;
  z-index: 100;
  right: 0;
  /* margin: 11px 11px; */
  /* width: 20%; */
}

.mat-card-mbv{
  background-color: #3169b1;
  border-radius: unset !important;
  color: white;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px !important;
}

#load-data-wrapper-mbv{
  display: block;
  background-color: #f5f4f4;
  padding: 15px;
  height: calc(100% - 40px);
  border-radius: 0 0 14px 14px;
  /* width: 100%; */
}

.load-div-mbv{

}
.mobile-sidenave{
  width: 78% !important;
}
.web-sidenave{
  width: 78% !important;
}

.active-tehsil{
      /* background: gray; */
      text-decoration: underline;
      font-weight: 800 !important;
      /* font-size: 11px; */
      color: red;
}

.edit-th-mode-h{
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  font-size: 13px;
  font-weight: 500;
}
.pl-15{
  padding-left:15px ;
}
.pr-15{
  padding-right:15px ;
}

.link-img{
  width: 20px;
  height: 20px;
}

.dflex{
  display: flex;
}
.flex-end{
  align-items: flex-end;
}

 a{
  color: #3375b2;
  font-weight: 800;
  text-decoration: none;
}

.link-img-mb{
  width: 15px;
  height: 15px;
}


.al-center{
  align-items: center;
}
.ft-sm{
  font-size: 11px;
}

.up-box{
  text-align: center;
  position: absolute;
  bottom: 0;
  /* z-index: 9999; */
  /* left: 50px; */
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
}
.arrow-up{

  z-index: 999;
  background: white;
  border-radius: 2px;
  padding: 3px;
}