
<div *ngIf="loadContent" class="container">
  <!-- (ngSubmit)="save()" (reset)="resetForm()" -->
	<form  [formGroup]="formGroup" >
		
    <ng-multiselect-dropdown #multiSelect
      [settings]="settings"
      [placeholder]="'Search Your City'" 
      [data]="SearchData" 
      [formControl]="f?.name" 
      [disabled]="false"
      [class.is-invalid]="f?.name?.errors?.required && f?.name?.touched"
      (onFilterChange)="onFilterChange($event)"
      (onDropDownClose)="onDropDownClose($event)"
      (onSelect)="onItemSelect($event)" 
      (onDeSelect)="onDeSelect($event)"
      (onSelectAll)="onSelectAll($event)"
      (onDeSelectAll)="onDeSelectAll($event)">
	</ng-multiselect-dropdown>
    <!-- [class.is-invalid]="f?.name?.errors?.required && f?.name?.touched" -->
    <!-- <span *ngIf="f?.name?.errors?.required && f?.name?.touched" style="color: red;">
      City is required
    </span> -->

    <br/> 
    <!-- <input type="submit" value="Submit"> |  -->
    <!-- <input type="reset" value="Reset"> |  -->
    <!-- <input type="button" value="Toggle Select All" (click)="multiSelect.toggleSelectAll()"> -->
    <div style="display: flex; justify-content: space-around;">

      <button  mat-raised-button color="primary" (click)="OnSubmitSearch()" >Search </button>
      <button type="reset" mat-raised-button color="primary" (click)="resetForm()" >Reset</button>
    </div>


  </form>
</div>
