h3 {
    text-align: center;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Montserrat';

  }
  
  .container {
    width: 90%;
    margin: 0;
    font-size: 12px !important;

  }
  
  ::ng-deep dropdown-btn {
        border: 1px solid red !important;
      } 
    
    .multiselect-dropdown  dropdown-btn 
        selected-item :hover {
            box-shadow: 1px 1px 2px 0px #5a5a5a !important;
          }
        
      
    
  
  

  ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item:hover{
    box-shadow: 2px 4px #9595958f !important;
  }

  :host ::ng-deep .mat-raised-button {
    
    font-family:'Cabin'!important; 
    font-size:12px;
    line-height: 24px !important;
    background-color: #000;
  }

  ::ng-deep .dropdown-list .filter-textbox input{
    padding: 0 !important;
  }

  /* .btnLoader-white :host  */
  ::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
    stroke: #fff !important ;
    color: #fff !important ;
  }