<div class="container" >

    <button class="close-btn"  mat-icon-button (click)="dismiss()">
      <mat-icon>close</mat-icon>
    </button>

    <h4>Notification </h4>
    <mat-divider></mat-divider>
    <br>
    <br>

      <div>
        <p style="font-size: 17px;">
            Dear Valued User, due to data limitations, we can't process over 10 cities. Subscribe to our premium plan for enhanced capabilities. Contact us for personalized assistance.
        </p>

        <p style="font-weight: 500;font-size: 17px;" class="mt-5" >

          <fa-icon [icon]="linkedIn">
            <a href="https://www.linkedin.com/in/balram-rajput-a15782191/" target="_blank"></a>
          </fa-icon> 
          <fa-icon [icon]="Mail"></fa-icon> mewadabalram91@gmail.com | 

        </p>

      </div>


</div>