/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fw-6{
    font-weight: 600;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
 ::-webkit-scrollbar-thumb {
    background: #000000b5;
    border-radius: 10px;
  }
 ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .d-flex{
    display: flex;
  }

  .ai-c{
    align-items: center;
  }

  .pointer{
    cursor: pointer;
}

.pl-15{
  padding-left:15px ;
}
.pr-15{
  padding-right:15px ;
}
.pl-5{
  padding-left: 5px;
}

.cabin{
  font-family: 'Cabin' !important;
}

.sucess-snack{
  background: #19a606 !important;
}

.fail-snack{
  background: #e91b1b !important;
}

/* .btnLoader-white :host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
  stroke: #fff !important ;
} */

